<footer class="footer">
  <div class="footer__container">
    <section>
      <h2 class="footer_title">Sobre</h2>
      <p class="footer_about-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptas, autem.</p>
    </section>
    <address>
      <h2 class="footer__title">
        Contato
        <ul>
          <li><i class="fa fa-envelope" aria-hidden="true"></i>email@email.com</li>
          <li><i class="fa fa-phone" aria-hidden="true"></i>(21)99999-9999</li>
          <li><i class="fa fa-whatsapp" aria-hidden="true"></i>(21)88888-8888</li>
        </ul>
      </h2>
    </address>
  </div>

  <section class="footer__copyright">
    &copy; Todos os direitos reservados
  </section>
</footer>
